<h1>Domains</h1>
<table class="table table-bordered table-hover ">

    <thead>
    <tr>
        <td>№</td>
        <td>
            Domains
        </td>
        <td>
            Balance
        </td>
        <td>
            Bonus balance
        </td>
        <td>
            Currency
        </td>
        <td>
            partner id
        </td>
        <td>
            tariff
        </td>
        <td>
            tariff ends
        </td>
        <td>
            active
        </td>
        <td>
            created
        </td>

        <td>
        </td>

        <td>
        </td>

    </tr>
    </thead>

    <tbody>


    <tr ng-repeat="domainDto in allGoods">
        <td>
            {{$index + 1}}
        </td>
        <td>
            {{domainDto.domainDto}}
        </td>
        <td>
            {{domainDto.balance}}
        </td>
        <td>
            {{domainDto.bonusBalance}}
        </td>
        <td>
            {{domainDto.balanceCurrency}}
        </td>
        <td>
            {{domainDto.partnerID}}
        </td>
        <td>
            {{domainDto.tariff}}
        </td>
        <td>
            {{domainDto.tariffUntil}}
        </td>
        <td>
            {{domainDto.active}}
        </td>
        <td>
            {{domainDto.createdInfo}}
        </td>

        <td>

            <md-menu>
                <md-button class="btn-sm"
                           ng-click="openMenu($mdOpenMenu, $event)">
                    more
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="deleteDomainConfirmation(domainDto)">
                            delete
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="editDomain(domainDto, $event)">
                            edit
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </td>

    </tr>

    </tbody>
</table>


