<h1>Users</h1>
<table class="table table-bordered table-hover ">

    <thead>
    <tr>
        <td>
            №
        </td>
        <td>
            Domains
        </td>

        <td>
            ID
        </td>

        <td>
            login
        </td>

        <td>
            Email
        </td>

        <td></td>

        <td>
            Roles
        </td>

        <td>
            last online
        </td>

        <td>
            created
        </td>

        <td>
        </td>
    </tr>
    </thead>

    <tbody>

    <tr ng-repeat="domainDto in allGoods">
        <td>
            {{$index + 1}}
        </td>

        <td>
            {{domainDto.domains}}
        </td>

        <td>
            {{domainDto.id}}
        </td>

        <td>
            {{domainDto.username}}
        </td>

        <td>
            {{domainDto.email}}
        </td>

        <td>
            <div ng-if="domainDto.status == 'STATUS_APPROVED' && domainDto.enabled">
                active
            </div>

            <div ng-if="domainDto.status != 'STATUS_APPROVED' || !domainDto.enabled">
                status: {{domainDto.status}}, enabled: {{domainDto.enabled}}
            </div>

        </td>

        <td>
            {{domainDto.roles}}
        </td>

        <td>
            {{domainDto.lastOnline | date:'medium'}}
        </td>
        <td>
            {{domainDto.createdInfo.createdDate | date:'medium'}}
        </td>
        <td>

            <md-menu>
                <md-button class="btn-sm"
                           ng-click="openMenu($mdOpenMenu, $event)">
                    more
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="deleteDomainConfirmation(domainDto)">
                            delete
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="editDomain(domainDto, $event)">
                            edit
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </td>
    </tr>
    </tbody>

</table>



